In [8]:
import pandas as pd
import numpy as np

In [9]:
courses_list = []
with open("data.txt") as file:
    courses_list = file.read().split("================================")

In [10]:
courses_list = [x.split("\n") for x in courses_list]
del courses_list[-1]

In [11]:
data = []
for course in courses_list:
    element = []
    del course[-1]
    
    if course[-1] == "Bestseller":
            course[-1] = "Yes"
    else:
        course.append(np.nan)
    for piece in course:
        if isinstance(piece,str) and (piece in ("Instructor:", "Instructors:", "Current Price", "Original Price", "Current price", "Original price", "") or "Rating:" in piece):
            continue
        
        element.append(piece)
    data.append([element[0],*element[2:]])

In [12]:
courses = pd.DataFrame(data, columns=["Name", 
                                "Description", 
                                "Instructor", 
                                "Rating", 
                                "Number of Ratings", 
                                "Total Hours", 
                                "Number of Lectures", 
                                "Level", 
                                "Current Price", 
                                "Original Price", 
                                "Bestseller"])
courses

,Name,Description,Instructor,Rating,Number of Ratings,Total Hours,Number of Lectures,Level,Current Price,Original Price,Bestseller
0,"Machine Learning A-Z: AI, Python & R + ChatGPT...",Learn to create Machine Learning Algorithms in...,"Kirill Eremenko, Hadelin de Ponteves, SuperDat...",4.5,"(191,570)",43 total hours,387 lectures,All Levels,EÂ£249.99,"EÂ£2,099.99",Yes
1,Python for Data Science and Machine Learning B...,"Learn how to use NumPy, Pandas, Seaborn , Matp...","Jose Portilla, Pierian Training",4.6,"(147,245)",25 total hours,165 lectures,All Levels,EÂ£349.99,"EÂ£2,799.99",NaN
2,The Data Science Course: Complete Data Science...,"Complete Data Science Training: Math, Statisti...",365 Careers,4.6,"(146,979)",31.5 total hours,520 lectures,All Levels,EÂ£249.99,"EÂ£1,899.99",Yes
3,R Programming A-Zâ„¢: R For Data Science With ...,Learn Programming In R And R Studio. Data Anal...,"Kirill Eremenko, SuperDataScience Team, Ligenc...",4.6,"(54,982)",10.5 total hours,80 lectures,All Levels,EÂ£349.99,"EÂ£2,999.99",Yes
4,"Deep Learning A-Z 2024: Neural Networks, AI & ...",Learn to create Deep Learning models in Python...,"Kirill Eremenko, Hadelin de Ponteves, SuperDat...",4.6,"(47,041)",22.5 total hours,189 lectures,All Levels,EÂ£349.99,"EÂ£2,599.99",Yes
5,Statistics for Data Science and Business Analysis,Statistics you need in the office: Descriptive...,365 Careers,4.5,"(45,761)",5 total hours,92 lectures,All Levels,EÂ£249.99,"EÂ£1,699.99",Yes
6,Artificial Intelligence A-Z 2024: Build 7 AI +...,"Combine the power of Data Science, Machine Lea...","Hadelin de Ponteves, Kirill Eremenko, SuperDat...",4.4,"(42,140)",15.5 total hours,129 lectures,All Levels,EÂ£299.99,"EÂ£2,499.99",Yes
7,Data Science A-Z: Hands-On Exercises & ChatGPT...,Learn Data Science step by step through real A...,"Kirill Eremenko, SuperDataScience Team, Ligenc...",4.6,"(34,249)",21 total hours,217 lectures,All Levels,EÂ£349.99,"EÂ£2,799.99",NaN
8,"Machine Learning, Data Science and Generative ...",Complete hands-on machine learning and GenAI t...,"Sundog Education by Frank Kane, Frank Kane, Su...",4.7,"(33,499)",20.5 total hours,147 lectures,Beginner,EÂ£299.99,"EÂ£2,299.99",NaN
9,Python A-Zâ„¢: Python For Data Science With Re...,Programming In Python For Data Analytics And D...,"Kirill Eremenko, SuperDataScience Team, Ligenc...",4.6,"(29,044)",11 total hours,73 lectures,All Levels,EÂ£299.99,"EÂ£2,299.99",NaN
10,Spark and Python for Big Data with PySpark,"Learn how to use Spark with Python, including ...","Jose Portilla, Pierian Training",4.5,"(24,838)",10.5 total hours,67 lectures,Intermediate,EÂ£399.99,"EÂ£2,799.99",Yes
11,"Complete A.I. & Machine Learning, Data Science...","Learn Data Science, Data Analysis, Machine Lea...","Andrei Neagoie, Daniel Bourke",4.6,"(24,648)",44 total hours,384 lectures,All Levels,EÂ£249.99,"EÂ£2,099.99",NaN
12,Data Analysis with Pandas and Python,Analyze data quickly and easily with Python's ...,Boris Paskhaver,4.7,"(23,290)",19.5 total hours,141 lectures,All Levels,EÂ£299.99,"EÂ£2,499.99",Yes
13,Machine Learning for Absolute Beginners - Level 1,Learn the Fundamental Concepts of Artificial I...,Idan Gabrieli,4.5,"(22,278)",4.5 total hours,59 lectures,Beginner,EÂ£249.99,"EÂ£1,299.99",NaN
14,LangChain- Develop LLM powered applications wi...,Learn LangChain by building FAST a real world ...,Eden Marco | LLM Specialist,4.6,"(20,213)",9.5 total hours,80 lectures,Intermediate,EÂ£249.99,"EÂ£1,299.99",Yes
15,NLP - Natural Language Processing with Python,"Learn to use Machine Learning, Spacy, NLTK, Sc...","Jose Portilla, Pierian Training",4.5,"(18,185)",11.5 total hours,80 lectures,Intermediate,EÂ£399.99,"EÂ£3,099.99",Yes

In [15]:
dataset = courses.to_csv("output.csv", index=False)

In [17]:
dataset = courses.to_excel("output.xlsx", index=False)